name: Python Tests

on:
  push:
    branches:
      - main
      - "**/feature/**"   # optional, run on feature branches
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Run unit tests
        run: |
          python -m unittest discover -s tests -p "*.py"